<form [formGroup]="form" (ngSubmit)="submit()">
<h1 class="h3 mb-3 fw-normal">Please sign up</h1>

  <div class="form-floating">
    <input
           class="form-control"
           id="floatingFirstName"
           placeholder="First name"
           formControlName="firstName">
    <label for="floatingFirstName">First name</label>
  </div>
  <br>
  <div class="form-floating">
    <input type="email"
           class="form-control"
           id="floatingLastName"
           placeholder="Last name"
           formControlName="lastName">
    <label for="floatingLastName">Last name</label>
  </div>
  <br>
  <div class="form-floating">
    <input type="email"
           class="form-control"
           id="floatingEmail"
           placeholder="name@example.com"
           formControlName="email">
    <label for="floatingEmail">Email address</label>
  </div>
  <br>
  <div class="form-floating">
    <input type="email"
           class="form-control"
           id="floatingInput1"
           placeholder="Password"
           formControlName="password">
    <label for="floatingInput1">Password</label>
  </div>
  <br>
  <div class="form-floating">
    <input type="ConfirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="Confirm password" formControlName="confirmPassword">
    <label for="floatingConfirmPassword">Confirm password</label>
  </div>
  <br>
  <button class="w-100 btn btn-lg btn-dark" type="submit">Sign up</button>
</form>
