<div class="p-2 d-flex justify-content-end">
  <button routerLink="/manager/categories/create" class="btn btn-dark">Add</button>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of categories">
    <td>{{item?.name}}</td>
    <td>
      <button class="btn btn-dark mr-2" [routerLink]="['/manager/categories/edit', item.id]">Edit</button>
      <button class="btn btn-1 btn-danger" (click)="deleteItem(item.id)">X</button>
    </td>
  </tr>
  </tbody>
</table>
