<div class="d-flex gap-5">
  <div class="wrap">
    <h1 class="text-center"><strong>Choose Category</strong></h1>
    <ul >
      <li [routerLink]="['/products']">All</li>
      <li *ngFor="let category of categories$ | async"
          [queryParams]="{category: category.id}"
          [routerLink]="['/products']">
        {{category.name}}</li>
    </ul>


    <!--    <div class="flex-shrink-0 dropdown">-->
    <!--      <a aria-expanded="false" class="d-block link-dark text-decoration-none dropdown-toggle category-list" data-bs-toggle="dropdown"-->
    <!--         id="dropdownUser2">Category List-->
    <!--      </a>-->
    <!--      <ul aria-labelledby="dropdownUser2" class="dropdown-menu text-small shadow">-->
    <!--        <li *ngFor="let category of categories$ | async">-->
    <!--          <a class="dropdown-item" routerLink="/products" [queryParams]="{category: category.id}">{{category.name}}</a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--          <hr class="dropdown-divider">-->
    <!--        </li>-->
    <!--        <li><a class="dropdown-item" routerLink='/products'>All</a></li>-->
    <!--      </ul>-->
    <!--    </div>-->
    <!--    <div class="list-group">-->
    <!--      <a [routerLink]="['/products']"-->
    <!--         class="list-group-item list-group-item-action">All</a>-->
    <!--          <a *ngFor="let category of categories$ | async"-->
    <!--             [routerLink]="['/products']"-->
    <!--             [queryParams]="{category: category.id}"-->
    <!--             routerLinkActive="active"-->
    <!--             class="list-group-item list-group-item-action">-->
    <!--            {{category.name}}-->
    <!--          </a>-->
    <!--    </div>-->
  </div>

  <div class="flex-fill">
    <div class="search">
      <input (ngModelChange)="searchHandle($event)" [ngModel]="search" class="form-control" placeholder="Search..."
             type="search">
    </div>
    <div>
    </div>
    <div class="product-items">
      <app-product-card *ngFor="let product of products;  let i = index" [product]="product"></app-product-card>
    </div>
  </div>
</div>
