<div class="d-flex gap-5">
  <div class="wrap">
    <h1 class="text-center"><strong>Choose Category</strong></h1>
    <ul>
      <li [routerLink]="['/products']">All</li>
      <li *ngFor="let category of categories$ | async"
          [queryParams]="{category: category.id}"
          [routerLink]="['/products']">
        {{category.name}}</li>
    </ul>

  </div>

  <div class="flex-fill">
    <div class="search">
      <input (ngModelChange)="searchHandle($event)" [ngModel]="search" class="form-control" placeholder="Search..."
             type="search">
    </div>
    <div>
    </div>
    <div class="product-items" *ngIf="products.length; else noProducts">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
    <ng-template #noProducts>
      <div class="no-product">
        <h3 class="total">No products found !</h3>
          <img class="img-fluid w-25 mt-5" alt="product not found" src="assets/images/search.png">
      </div>
    </ng-template>
  </div>
</div>
