<div class="card">
  <div class="image">
    <img alt="product image" src="{{product.image}}">
  </div>
  <div class="container">
    <div class="product">
      <p class="category" >{{product.category.name}}</p>
      <h1 class="title" >{{product.name}}</h1>
      <p class="desc">{{product.description}}</p>
      <div class="price-box d-flex j">
        <div class="price w-50 justify-content-center pt-3">
          <h2>{{product.price | currency}}</h2>
        </div>
        <div class="cart w-50">
          <button (click)="addToCart()" class="btn btn-dark">ADD to CART</button>
        </div>

      </div>
    </div>
  </div>
</div>
